:root {
  /* --- PALETA PRINCIPAL (Extraída da imagem) --- */
  --primary-color: #23cc8b;       /* O tom principal do seu print */
  --primary-light: #56b1b1;       /* Versão mais clara para o degradê */
  
  /* --- DEGRADÊ --- */
  /* Linear gradient suave seguindo a inclinação da imagem */
  --brand-gradient: linear-gradient(135deg, var(--primary-light) 0%, var(--primary-color) 100%);

  /* --- CORES NEUTRAS (Conforto Visual) --- */
  /* Um "Preto" levemente azulado para não agredir a vista */
  --text-main: #1d2121;           
  /* Um "Cinza" equilibrado para textos secundários e descrições */
  --text-muted: #576566;          
  /* Um "Branco" levemente acinzentado (Off-white) para o fundo */
  --bg-body: #f8fcfc;             
  /* Branco puro apenas para elementos que precisam saltar aos olhos (cards) */
  --white: #ffffff;               

  /* Botão Editar - Amarelo */
--yellow-primary: #ffe082;
--yellow-secondary: #fbc02d;
--edit-gradient: linear-gradient(
  135deg,
  #ffe082 0%,   /* amarelo claro */
  #fbc02d 100%  /* amarelo mais forte */
);

/* Botão Excluir - Vermelho */

--red-primary:#ef5350;
--red-secondary: #c62828;
--delete-gradient: linear-gradient(
  135deg,
  #ef5350 0%,   /* vermelho claro */
  #c62828 100%  /* vermelho mais intenso */
);

  /* --- OUTRAS VARIÁVEIS ÚTEIS --- */
  --border-color: #1d2121;

  --border-radius: 0.8rem;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    scroll-behavior: smooth;

}

/* Botões */
.bttn{
    background: var(--brand-gradient);
    padding: .8rem;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    font-weight: 900;
    color: var(--white);
    letter-spacing: .1rem;
    transition: transform 0.6s ease;
}

.bttn.delete{
    background: var(--delete-gradient);
}

.bttn:hover{
   filter: brightness(1.1);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(35, 204, 139, 0.3);
}

/* Links */
a:not(.bttn):hover{
    color: var(--primary-color);
}

a{
    cursor: pointer;
}

/* Inputs */
.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .2rem 0;
    gap: .5rem;
    position: relative;
}

.auth-form input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(35, 204, 139, 0.1);
}

.input-helper{
    display: block;
    font-size: 0.7rem;
    color: var(--text-muted);
    line-height: 1.1;
    margin-top: 0.15rem;
    padding-left: 0.5rem;
    border-left: 2px solid var(--primary-color);
}

input[type="file"]{
    padding: 0 !important;
}

input[type="checkbox"]{
    display: none;
}

/* Outro */
.highlight{
    background: var(--brand-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.auth-wraper{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onlyreader{
    display: none;
}

.applied{
    border: 1px solid var(--primary-light);
    color: var(--primary-color);
}

.pedding{
    border: 1px solid var(--yellow-primary);
    color: var(--yellow-secondary);
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

input:checked + .slider {
  background: var(--brand-gradient);
}

input:checked + .slider:before {
  transform: translateX(24px);
}