/* 1. Box sizing rules - Garante que padding e border não aumentem o tamanho do elemento */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Remove default margin e padding de elementos comuns */
ol, ul {
  list-style: none;
}

/* 3. Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Deixa as fontes mais nítidas no Mac/iOS */
}

/* 4. Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 5. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Remove animations for people who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 7. Remove links decoration by default */
a {
  text-decoration: none;
  color: inherit;
}

/* 8. HTML 5 set up - Garante scroll suave */
html {
  scroll-behavior: smooth;
}

button{
  border: none;
  cursor: pointer;
}