#config{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-title{
    display: flex;   
    gap: 3rem;
    width: 100%;
    max-width: 800px;
    align-items: center;
    margin-bottom: 2rem;
}

.conif-title__img{
    width: 3.125rem;    
    text-align: center;
}

.conif-title__img:hover{
    background: var(--brand-gradient);
    border-radius: var(--border-radius);
}

#config section{
    width: 100%;
    margin-bottom: 1rem;
}

#config form{
    width: 100%;
    max-width: 800px;
}

.personal-data,
.notifications,
.security,
.misc{
    border: 1px solid var(--text-main);
    border-radius: var(--border-radius);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notifications {
    gap: 2rem;
}
.config-profile-picture{
    width: 3.125rem;
    margin-bottom: 0.5rem;
}

#config form input{
    padding: 0.7rem;
    border: 1px solid #ccc; 
    border-radius: 0.4rem;
    font-family: inherit; 
    width: 100%;
    height: 2.5rem;
}

#profile-pic{
    border: none !important;
}

#config form input:focus{
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0px rgba(35, 204, 139, 0.1);
}

.toggles__container{
    display: flex;
    justify-content: space-between;
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.notifications__controls__text__title,
.misc__controls__text__title{
    font-weight: 700;
}

.misc__controls__text__descriptions,
.notifications__controls__text__descriptions{
    font-weight: 300;
    color: var(--text-muted);
}


.input-group__container {
    display: flex;
    flex-direction: column;         
}

.config-buttons__container{
   position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: auto !important; 
    display: inline-flex; 
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    z-index: 9999;
}

@media (max-width: 1024px){

    #config{
        padding: 2rem;
    }

    .config-buttons__container{
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0;
        right: 0;
    }
}