main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
}

#profile-menu{
    max-width: 80%;
    width: 80%;
    border: 1px solid var(--text-main);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.profile-inf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-inf__picture{
    width: 5rem;
}
.profile-inf__name{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.vaccines-menu{
    width: 60%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.vaccines-menu__inf{
    width: 15rem;
    border: 1px solid var(--text-main);
    border-radius: var(--border-radius);
    padding: 1rem;
    transition: transform .3s ease;
}

.vaccines-menu__inf:nth-child(2){
    color: var(--primary-color);
    border: 1px solid var(--primary-light);
}

.vaccines-menu__inf:nth-child(2):hover{
    background: var(--brand-gradient);
    color: var(--text-main);
}

.vaccines-menu__inf:nth-child(3){
    color: var(--yellow-primary);
    border: 1px solid var(--yellow-secondary);
}

.vaccines-menu__inf:nth-child(3):hover{
    background: var(--edit-gradient);
    color: var(--text-main);
}

.vaccines-menu__inf:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.profile-config{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--text-main);
    padding: 0 2rem;
}

.search-filter-add{
    max-width: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
   margin-bottom: 2rem;
}

.search-filter__container{
    width: 50%;
    display: flex;
    align-items: center;

}

.search-filter__form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-filter__input{
    padding: 0.7rem;
    border: 1px solid #ccc; 
    border-radius: 0.4rem;
    font-family: inherit; 
    width: 85%;
    height: 2.5rem;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(35, 204, 139, 0.1);
}

.search-filter__container__filters{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


#empty-slot{
    color: var(--text-muted);
    text-align: center;
}

.vaccines__card-img-img{
    width: 50px;
}

.vaccines-empty{
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;*/
}

.vaccines-grid{
    width: 80%;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.vaccines__card__container{
    height: 15vh;
    border: 1px solid var(--text-main);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vaccines__card{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.vaccines_card-text__name{
    display: flex;
    height: 3.5rem;
    gap: 1rem;
    align-items: center;
}

.status-badge{
    font-size: .7rem;
    border-radius: var(--border-radius);
    padding: .2rem .8rem;
    font-weight: 900;
}

.vaccines__card-text__info{
    display: flex;
    gap: 1rem;
    font-size: .9rem;
    color: var(--text-muted);
}

.vaccine__buttons button{
    padding: 0.8rem;
}

.vaccine__buttons button img{
    width: 2rem;
}

.vaccine__buttons__edit:hover{
    border-radius: 50%;
    background: var(--edit-gradient)
}

.vaccine__buttons__delete:hover{
border-radius: 50%;
    background: var(--delete-gradient)
}

.search-button:hover{
    color: var(--primary-color);
}

/* MEDIA QUERIES */

@media (max-width: 1024px){
    .vaccines{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (max-width: 768px){
    #profile-menu{
        flex-direction: column;
    }

    .vaccines-menu{
        width: 100%;
        padding: 1rem 0;
    }

    .profile-config{
        flex-direction: row;
        border-top: 1px solid var(--text-main);
        border-left: none;
        gap: 2rem;
        padding-top: 1rem;
    }

    .search-filter-add,
    .search-filter__container{
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .vaccine__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem;
    }
}

@media (max-width: 576px)  {
    .vaccines__card-text__info{
        font-size: 0.2rem;
    }
}

