
.forgot-password {
    display: block;
    font-size: 0.8rem;
    color: var(--primary-color);
    text-align: right;
    margin: 0.2rem 0 1rem 0;
    text-decoration: none; 
}

#login-section button{
    margin-top: 0.5rem;
    width: 100%;
}

.forgot-password:hover {
    text-decoration: underline;
}